<div class="page-container">

  <div class="nav-back-icon" (click)="continueOnClick()">
    <app-icon-arrow-left color="tangerine"></app-icon-arrow-left>
  </div>

  <div class="header-component">
    <app-bodytext-16 class="text-center" [isSemiBold]="true">Change Location</app-bodytext-16>
  </div>

  <div class="map-container" *ngIf="!!mapOptions">
    <div
      class="map"
      leaflet
      [leafletOptions]="mapOptions"
      (leafletMapReady)="onMapReady($event)"
    >
      <img class="map-icon" src="assets/image/map-marker.svg" alt="your-location" />
      <div class="current-location" (click)="goToDeviceLocation()">
        <img class="current-location-icon" src="assets/image/current-location.svg" alt="go-to-current-location">
      </div>
    </div>
    <div class="search-box-container">
      <app-input-search-box
        (focusEvent)="collapse.toggle()"
        (focusOutEvent)="collapse.toggle()"
        (searchEvent)="onChangeSearch($event)">
      </app-input-search-box>
    </div>
  </div>

  <div class="current-location-container">
    <div class="address-box d-flex flex-row">
      <img src="assets/image/current-location.svg" alt="current-location-icon" width="16px">
      <div class="address-text-container d-flex flex-column">
        <app-bodytext-14 [isSemiBold]="true">{{ currentAddress?.addressName }}</app-bodytext-14>
        <app-caption [isTruncate]="true" class="address-description" color="grey">{{ currentAddress?.address }}</app-caption>
      </div>
    </div>
  </div>

  <div class="additional-note-container">
    <app-heading-5>
      ADDITIONAL NOTES
      <span class="grey-text">(OPTIONAL)</span>
    </app-heading-5>
    <div class="additional-note-input">
      <app-input-text-box placeholder="ex: put package at lobby"></app-input-text-box>
    </div>
  </div>

  <div class="button-container">
    <app-primary-button text="CONTINUE" (clicked)="continueOnClick()"></app-primary-button>
  </div>

  <div
    #collapse="ngbCollapse"
    [(ngbCollapse)]="isFavoriteAddressCollapse"
    class="search-result-container">
    <div class="address-container">

      <div class="heading-container">
        <app-heading-5>OR, SELECT LOCATION</app-heading-5>
      </div>

      <div class="address-list">

        <div class="address-box d-flex flex-row" (click)="collapse.toggle()">
          <img src="assets/image/current-location.svg" alt="current-location-icon" width="16px">
          <div class="address-text-container d-flex flex-column">
            <app-caption color="grey">Current Location</app-caption>
            <app-bodytext-14 [isTruncate]="true" class="address-description" [isSemiBold]="true">{{ currentAddress?.address }}</app-bodytext-14>
          </div>
        </div>

        <div *ngFor="let data of searchResults" class="address-box search-result d-flex flex-row" (click)="collapse.toggle(); onSelectLocation(data)">
          <img src="assets/image/time.svg" alt="search-result-icon" width="16px">
          <div class="address-text-container d-flex flex-column">
            <app-bodytext-14 [isSemiBold]="true">{{ data?.displayName }}</app-bodytext-14>
            <app-caption [isTruncate]="true" class="address-description" color="grey">{{ data?.description }}</app-caption>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>