<div class="page-container">

  <div class="nav-back-icon" (click)="goBack()">
    <app-icon-arrow-left color="tangerine"></app-icon-arrow-left>
  </div>

  <div class="header-component header-shadow">
    <app-bodytext-16 class="text-center" [isSemiBold]="true">About Us</app-bodytext-16>
  </div>

  <div class="content">

    <div class="ismaya-logo">
      <img src="/assets/image/ismaya-logo.png" alt="ISMAYA">
    </div>

    <app-heading-3>ISMAYA GROUP</app-heading-3>

    <app-bodytext-14>Ismaya Group is a food & beverage restaurant under Ismaya Group with +200 branches in Indonesia</app-bodytext-14>

    <div class="mt-4 d-flex flex-row">
      <img class="web-icons" src="/assets/image/instagram.png" alt="go to instagram">
      <img class="web-icons" src="/assets/image/twitter.png" alt="go to twitter">
      <img class="web-icons" src="/assets/image/facebook.png" alt="go to facebook">
      <img class="web-icons" src="/assets/image/web.png" alt="go to ismaya web">
    </div>

    <div class="mt-4">
      <app-heading-5>
        ADDRESS
      </app-heading-5>

      <app-bodytext-14 [isSemiBold]="true">
        Gandaria City Mall
      </app-bodytext-14>

      <app-caption color="grey">
        Gandaria 8 Office Tower Lantai 29 #A & D
        Jl. Sultan Iskandar Muda RT.10/RW.6, Kby. Lama Utara,
        Kec. Kby. Lama, Kota Jakarta Selatan, DKI Jakarta 12240, Indonesia
      </app-caption>

      <app-caption [isSemiBold]="true">
        021-29865000
      </app-caption>
    </div>

    <div class="mt-4">
      <app-heading-5>
        OUR BRANDS
      </app-heading-5>

      <div class="d-flex flex-row">
        <div class="d-flex flex-column mr-4">
          <app-caption>A/A Bar</app-caption>
          <app-caption>Blackbyrd</app-caption>
          <app-caption>Djamu Djamu</app-caption>
          <app-caption>Djournal Coffee</app-caption>
          <app-caption>Kitchenette</app-caption>
          <app-caption>Mr.Fox</app-caption>
          <app-caption>Osteria Gia</app-caption>
        </div>
        <div class="d-flex flex-column">
          <app-caption>Pizza E Birra</app-caption>
          <app-caption>Publik Markette</app-caption>
          <app-caption>Sejuice Me</app-caption>
          <app-caption>SKYE</app-caption>
          <app-caption>Sushi Groove</app-caption>
          <app-caption>The People’s Cafe</app-caption>
          <app-caption>Tokyo Belly</app-caption>
        </div>
      </div>
    </div>

  </div>

</div>