// Custom ng carousel
:host ::ng-deep .carousel-indicators {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

  li {
    border-bottom: none;
    flex: 1 1 auto;
    margin-left: 0;
    margin-right: 0;
  }

  li.active {
    background-color: var(--tangerine);
  }
}

.image-container {
  position: relative;
  height: 280px;
  width: 100%;

  img {
    width: 100%;
    position: absolute;
    bottom: -35px;
  }
}

.company-container {
  padding: 16px;
}
