// Custom ng carousel
:host ::ng-deep .carousel-indicators {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;

  li {
    border-bottom: none;
    flex: 1 1 auto;
    margin-left: 0;
    margin-right: 0;
  }

  li.active {
    background-color: var(--tangerine);
  }
}

.search-icon-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.image-container {
  position: relative;
  height: 280px;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.restaurant-container {
  padding: 16px 16px 100px;
}

.closed-label {
  background-color: var(--red);
  border-radius: 6px;
  color: var(--white);
  padding: 3px 6px;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.promo-button-container {
  padding: 20px 0;
}

.section-container {
  padding: 16px 0;
  overflow: hidden;
}

.carousel-menu-list {
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 100vw;
  padding-right: 10vw;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel-child-menu-container {
  padding: 8px;

  &:first-of-type {
    padding-left: 0px;
  }
}

.floating-button-container {
  position: fixed;
  bottom: 70px;
  padding: 0 16px;
  max-width: 500px;
  width: 95%;
}

.menu-button {
  float: right;
  margin-bottom: 12px;
  width: 64px;
}

.checkout-button {
  width: 100%;
}

.checkout-text {
  padding: 0 16px;
}

// Collapse

.collapse-container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 100;
}

// Order Mode

.order-mode {
  background: var(--white);
  border-radius: 12px;
  position: fixed;
  bottom: 0;
  padding: 20px;
  min-height: 40%;
  max-width: 500px;
  width: 100%;
}

.order-mode-title {
  flex: 0 0 70%;
}

.mode-container {
  padding: 16px 0;
  overflow-x: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.mode-button {
  border: none;
  border-radius: 6px;
  color: var(--grey-3);
  flex: 1 0 auto;
  margin-right: 10px;
  position: relative;
  height: 80px;
  width: 150px;

  &.active {
    color: var(--white);
    background-color: var(--tangerine);
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.mode-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 80px;
}

.mode-icon {
  position: absolute;
  top: 0;
  right: 0;
}

// Outlet Closed

.outlet-closed {
  background: var(--white);
  border-radius: 12px;
  position: fixed;
  bottom: 0;
  padding: 20px;
  min-height: 40%;
  width: 100%;
  max-width: 500px;
}

.outlet-closed-image {
  height: 120px;
  width: 120px;
}

.recommended-outlet-list {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 16px;
  padding-bottom: 48px;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.recommended-outlet {
  border: 1px solid var(--grey);
  border-radius: 6px;
  padding: 10px;
  margin-left: 16px;
  min-width: 250px;

  &:first-of-type {
    margin-left: 0px;
  }
}

.outlet-closed-button {
  margin-top: 20px;
}

// Menu Drawer

.menu-drawer {
  background: transparent;
  position: absolute;
  bottom: 0;
  min-height: 40vh;
  max-height: 95vh;
  width: 100%;
}

.menu-drawer-scroller {
  background: var(--white);
  border-radius: 12px;
  position: relative;
  padding: 20px 0;
  min-height: 40%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header-drawer {
  height: 45px;
  padding: 0 20px;
}

.drawer-text-container {
  padding: 16px;
}

.separator {
  background-color: var(--grey-6);
  height: 8px;
}
