.profile-container {
  background: linear-gradient(124.78deg, #fbc02d 0%, #f07600 100%);
  padding: 16px;
}

.avatar {
  background-color: var(--grey-5);
  border-radius: 50%;
  height: 56px;
  min-width: 56px;
  overflow: hidden;

  & img {
    height: 56px;
    width: 56px;
  }
}

.profile-text {
  flex: 1 0 auto;
  padding-left: 16px;
}

.login-via {
  background-color: var(--tangerine);
  height: 50px;
  width: 100%;
  padding: 16px;
}

.menu-setting-container {
  padding: 32px 16px;
}
