.payment-failed-image {
  width: 100%;
}

.content-container {
  height: 100%;
  padding: 16px;
  position: relative;
}

.button-container {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 16px;
}

.half-size-button {
  width: 45%;
}
