<div class="page-container">
  <div class="position-relative">
    <img class="logo position-absolute" src="assets/image/ESB-logo.png" alt="ESB Order Logo">
    <img class="image-fluid w-100" src="assets/image/landing-page.png" alt="ESB Order">
  </div>

  <div class="landing-page-content container-fluid">
    <div class="mb-1">
      <app-heading-5>WELCOME TO</app-heading-5>
    </div>
    <div class="mb-2">
      <app-heading-1>ESB Order</app-heading-1>
    </div>

    <div class="mb-4">
      <app-bodytext-14>
        ESB Order is an application to make
        your ordering process easier. 
        Start your ordering journey by scan QR, 
        and you can order various F&B.
      </app-bodytext-14>
    </div>

    <div class="mb-4">
      <a routerLink="/scan">
        <app-primary-button text="SCAN QR"></app-primary-button>
      </a>
    </div>

    <div class="text-center">
      <app-caption>Powered by ESB</app-caption>
      <a href="https://esb.id" rel="nofollow noreferrer" target="_blank"><app-link>VISIT SITE</app-link></a>
    </div>
  </div>
</div>