.contact-list-container {
  padding: 16px 0 80px;
}

.contact {
  border-bottom: 1px solid var(--grey-4);
  padding: 16px 0;
  margin: 0 16px;
}

.add-new-recipient {
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%;
}

// Collapse

.collapse-container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 100;
}

.delete-contact {
  background: var(--white);
  border: 1px solid var(--grey-4);
  border-radius: 12px;
  position: fixed;
  bottom: -40%;
  padding: 20px;
  min-height: 40%;
  max-width: 500px;
  width: 100%;

  &.show {
    bottom: 0;
    transition: bottom 200ms;
    z-index: 10;
  }
}

.delete-contact-confirm-image {
  height: 120px;
  width: 120px;
}

.contact-form {
  background: var(--white);
  border-radius: 12px;
  position: fixed;
  bottom: 0;
  padding: 20px;
  min-height: 40%;
  max-width: 500px;
  width: 100%;
  z-index: 1;
}

.contact-form-title {
  flex: 0 0 70%;
}

.validation-container {
  height: 14px;
  margin-top: 4px;
}

.email-info {
  padding: 12px 0 0;
}

.info-icon {
  margin-right: 8px;
}

.checkbox {
  border: 1px solid var(--grey-5);
  border-radius: 6px;
  margin-right: 16px;
  height: 24px;
  width: 24px;
}

.checkbox-input {
  display: none;
}

.form-continue-button {
  padding: 16px 0;
  width: 100%;
}

.full-size-button {
  width: 100%;
}

.half-size-button {
  width: 45%;
}
