<div class="menu-container d-flex flex-row">
  <div class="menu-image-container">
    <img class="menu-image" [src]="menu.imageUrl || 'https://via.placeholder.com/72'" [alt]="menu.menuName">
  </div>
  <div class="menu-text-container d-flex flex-column">
    <app-bodytext-14 [isBold]="true">{{ menu.menuName }}</app-bodytext-14>
    <app-caption color="grey">{{ menu.description || '&nbsp;' }}</app-caption>

    <div class="d-flex flex-row justify-content-between">
      <div class="icon-list">
        <img *ngIf="menu.flagRecommendation === 1" src="/assets/image/recommended.svg" alt="recommended">
        <img *ngFor="let icon of menu.menuIcons" [src]="icon.iconUrl" [alt]="icon.iconName">
      </div>

      <div class="menu-price d-flex flex-column">
        <app-caption *ngIf="discountedPriceDisplay !== ''" color="grey" [fontSize]="9" [isStrikethrough]="true">{{ discountedPriceDisplay }}</app-caption>
        <app-caption [isSemiBold]="true">{{ priceDisplay }}</app-caption>
      </div>
    </div>
  </div>
</div>