<div class="nav-back-icon" (click)="goBack()">
  <app-icon-arrow-left color="tangerine"></app-icon-arrow-left>
</div>

<div class="header-component header-shadow text-center">
  <app-bodytext-16 [isSemiBold]="true">Check Out</app-bodytext-16>
  <app-caption color="grey">{{ branchData?.branchName }}</app-caption>
</div>

<div class="checkout-container">
  <div class="section-container">
    <div class="d-flex flex-row justify-content-between">
      <app-heading-5>DELIVER TO</app-heading-5>
      <app-heading-5 *ngIf="!!orderInput.deliveryAddress" color="tangerine" (click)="goToSearchLocation()">EDIT</app-heading-5>
    </div>

    <ng-container *ngIf="!!orderInput.deliveryAddress">
      <div class="mt-3">
        <app-bodytext-14 [isSemiBold]="true" >{{ separateAddress(orderInput.deliveryAddress).addressName }}</app-bodytext-14>
        <app-caption>{{ separateAddress(orderInput.deliveryAddress).address }}</app-caption>
      </div>

      <div class="mt-2">
        <app-caption color="grey">Notes</app-caption>
        <div class="mt-2 white-box">{{ orderInput.deliveryAddressInfo }}</div>
      </div>
    </ng-container>

    <ng-container *ngIf="!orderInput.deliveryAddress">
      <div class="mt-3 d-flex flex-row justify-content-between align-items-center" (click)="goToSearchLocation()">
        <img src="/assets/image/marker-outline.svg" alt="set delivery">

        <app-bodytext-14 class="pl-3 grow-element">Set your delivery detail</app-bodytext-14>

        <app-icon-chevron-right color="black"></app-icon-chevron-right>
      </div>
    </ng-container>
  </div>

  <div class="section-container">
    <app-heading-5>CONTACT DETAIL</app-heading-5>

    <div class="mt-3 d-flex flex-row justify-content-between align-items-center">
      <app-icon-contact></app-icon-contact>

      <app-bodytext-14 class="pl-3 grow-element">Add contact details</app-bodytext-14>

      <app-icon-chevron-right color="black"></app-icon-chevron-right>
    </div>
  </div>

  <div class="order-container">
    <div class="d-flex flex-row justify-content-between">
      <app-heading-5>MY ORDER</app-heading-5>
      <app-heading-5 color="tangerine" (click)="goToRestaurant()" >ADD ORDER</app-heading-5>
    </div>

    <ng-container *ngFor="let saleMenu of orderInput.salesMenus">

      <div class="sale-menu d-flex flex-row">
        <div class="sale-menu-image">
          <img [src]="saleMenu.imageUrl" [alt]="saleMenu.menuName">
        </div>

        <div class="sale-menu-text">
          <div class="d-flex flex-row justify-content-between">
            <app-bodytext-14 [isBold]=true>{{ saleMenu.menuName }}</app-bodytext-14>
            <app-caption [isBold]="true" color="tangerine" (click)="goToMenu(saleMenu.menuID)" >EDIT</app-caption>
          </div>

          <ng-container *ngIf="!!saleMenu.extras.length">
            <app-caption *ngFor="let extra of saleMenu.extras" color="grey">{{ (extra.qty * saleMenu.qty) + ' ' + extra.menuExtraName }}</app-caption>
          </ng-container>

          <ng-container *ngIf="!!saleMenu.packages.length">
            <app-caption *ngFor="let packageData of saleMenu.packages">{{ (packageData.qty * saleMenu.qty) + ' ' + packageData.menuName }}</app-caption>
          </ng-container>

          <div class="bottom-price-text">
            <app-caption [isSemiBold]="true">{{ saleMenu.qty + ' X ' + formatToCurrency(saleMenu.sellPrice) }}</app-caption>
          </div>
        </div>
      </div>

    </ng-container>
  </div>

  <div class="add-more-item">
    <app-heading-5>ADD MORE ITEMS?</app-heading-5>

    <div class="carousel-menu-list d-flex flex-row justify-content-evenly align-items-center">
      <div *ngFor="let menu of menusAddMore" class="carousel-child-menu-list">
        <app-menu-card
          [menuTitle]="menu.menuName"
          [menuPrice]="menu.originalSellPrice"
          [menuDiscountPrice]="menu.sellPrice"
          [cardImage]="menu.imageUrl"
          [isOutOfStock]="menu.flagSoldOut"
        ></app-menu-card>
      </div>
    </div>
  </div>

  <div class="section-container">
    <app-heading-5>PROMO CODE</app-heading-5>

    <div class="mt-3 d-flex flex-row justify-content-between align-items-center">
      <app-icon-promotion></app-icon-promotion>

      <app-bodytext-14 class="pl-3 grow-element">Add promo code</app-bodytext-14>

      <app-icon-chevron-right color="black"></app-icon-chevron-right>
    </div>
  </div>

  <div class="section-container">
    <div class="d-flex flex-row align-items-center">
      <app-heading-5>VOUCHER CODE</app-heading-5>
      <img class="ml-1" src="/assets/image/info.svg" alt="voucher code" width="13px">
    </div>

    <div class="mt-3 d-flex flex-row justify-content-between align-items-center">
      <app-icon-promotion></app-icon-promotion>

      <app-bodytext-14 class="pl-3 grow-element">Add voucher code</app-bodytext-14>

      <app-icon-chevron-right color="black"></app-icon-chevron-right>
    </div>
  </div>

  <div class="section-container">
    <div class="d-flex flex-row justify-content-between">
      <app-bodytext-14>Subtotal</app-bodytext-14>
      <app-bodytext-14 [isSemiBold]="true" >{{ formatToCurrency(calculateResult?.subtotal || 0) }}</app-bodytext-14>
    </div>

    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row align-items-center">
        <app-bodytext-14>Additional Charge</app-bodytext-14>
        <img class="ml-1" src="/assets/image/info.svg" alt="additional charge" width="13px">
      </div>
      <app-bodytext-14 [isSemiBold]="true" >{{ formatToCurrency(calculateResult?.pb1 || 0) }}</app-bodytext-14>
    </div>

    <div class="d-flex flex-row justify-content-between">
      <app-bodytext-14>Delivery</app-bodytext-14>
      <app-bodytext-14 [isSemiBold]="true" >{{ formatToCurrency(calculateResult?.deliveryCost || 0) }}</app-bodytext-14>
    </div>

    <div class="d-flex flex-row justify-content-between">
      <app-bodytext-14>Tax</app-bodytext-14>
      <app-bodytext-14 [isSemiBold]="true" >{{ formatToCurrency(calculateResult?.additionalTax || 0) }}</app-bodytext-14>
    </div>
  </div>

  <div class="submit-checkout">
    <div class="d-flex flex-row justify-content-between">
      <div>
        <app-caption>Total Payment</app-caption>
        <app-heading-3>{{ formatToCurrency(calculateResult?.grandTotal || 0) }}</app-heading-3>
      </div>

      <div class="pay-button">
        <app-primary-button
          text="CONFIRM & PAY"
        ></app-primary-button>
      </div>
    </div>
  </div>
</div>