/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

:root {
  --white: #fff;
  --light-grey: #e3e9eb;
  --grey: #95a0a9;
  --grey-4: #bdbdbd;
  --grey-6: #f2f2f2;
  --black: #2c2a2b;
  --orange: #ffa224;
  --tangerine: #f07600;
  --red: #c30b31;
  --purple: #770248;
  --green: #02d87d;
  --ocean: #00acad;
  --blue: #0054c0;
  --blue-purple: #33377e;
}

.page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.header-component {
  position: relative;
  min-height: 60px;
  padding: 20px;
  width: 100%;
  z-index: 2000;
}

.nav-back-icon {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2010;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 4px 0 0 0;
}
